<h1 mat-dialog-title>User</h1>

<form (ngSubmit)="submit()" [formGroup]="userForm">

  <mat-dialog-content class="user-detail-content">

    <mat-form-field>
      <input formControlName="email" matInput placeholder="email">
      <mat-error *ngFor="let error of userForm.get('email').errors | keyvalue | slice:0:1">
        {{error.key === 'email' ? 'Email format not valid' : ''}}
        {{error.key === 'required' ? 'Email is required' : ''}}
        {{error.key === 'emailTaken' ? 'Email is already taken' : ''}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="role" placeholder="Role">
        <mat-option value="USER">User</mat-option>
        <mat-option value="ADMIN">Admin</mat-option>
        <mat-option value="USER_MANAGER">User manager</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="minGleePerDay" matInput placeholder="Minimum Glee per day" type="number">
    </mat-form-field>

    <div *ngIf="dataSource.loading$ | async" class="spinner">
      <mat-spinner></mat-spinner>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions class="user-detail-actions">
    <button (click)="close()" mat-button>Cancel</button>
    <button [disabled]="!userForm.valid" mat-button type="submit">Save</button>
  </mat-dialog-actions>

</form>
