<mat-card>
  <mat-card-title>
    User Profile
  </mat-card-title>

  <form (ngSubmit)="submit()" [formGroup]="profileForm">

    <mat-card-content>

      <mat-form-field>
        <input formControlName="email" matInput placeholder="Email" type="email">
        <mat-error *ngFor="let error of profileForm.get('email').errors | keyvalue | slice:0:1">
          {{error.key === 'email' ? 'Email format not valid' : ''}}
          {{error.key === 'required' ? 'Email is required' : ''}}
          {{error.key === 'emailTaken' ? 'Email not available' : ''}}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="minGleePerDay" matInput placeholder="Minimum Glee per day" type="number">
        <mat-error *ngFor="let error of profileForm.get('minGleePerDay').errors | keyvalue | slice :0:1">
          {{error.key === 'required' ? 'Minimum Glee Per Day is required' : ''}}
        </mat-error>
      </mat-form-field>

      <div *ngIf="loading$ | async" class="spinner">
        <mat-spinner></mat-spinner>
      </div>

    </mat-card-content>

    <mat-card-actions>
      <button (click)="changePassword()" mat-button type="button">Change password</button>
      <button [disabled]="!profileForm.valid" mat-button type="submit">Save</button>
    </mat-card-actions>

  </form>

</mat-card>
