<h1 mat-dialog-title>Change Password</h1>

<form (ngSubmit)="submit()" [formGroup]="pwdForm">

  <mat-dialog-content>

    <mat-form-field *ngIf="!adminMode">
      <input formControlName="oldPassword" matInput placeholder="Old password" type="password">
      <mat-error *ngFor="let error of pwdForm.get('oldPassword').errors | keyvalue">
        {{error.key === 'required' ? 'Old password is required' : ''}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="newPassword" matInput placeholder="New Password" type="password">
      <mat-error *ngFor="let error of pwdForm.get('newPassword').errors | keyvalue">
        {{error.key === 'required' ? 'New password is required' : ''}}
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="!adminMode">
      <input formControlName="newPassword1" matInput placeholder="Retype new Password" type="password">
      <mat-error *ngFor="let error of pwdForm.get('newPassword1').errors | keyvalue">
        {{error.key === 'required' ? 'New password is required' : ''}}
        {{error.key === 'passwordMismatch' ? 'Password is different from the above' : ''}}
      </mat-error>
    </mat-form-field>

    <div *ngIf="loading$ | async" class="spinner">
      <mat-spinner></mat-spinner>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button (click)="close()" mat-button type="button">Cancel</button>
    <button [disabled]="!pwdForm.valid" mat-button type="submit">Save</button>
  </mat-dialog-actions>

</form>
