<mat-card>
  <mat-card-title>
    Login
  </mat-card-title>
  <form (ngSubmit)="login()" [formGroup]="loginForm">
    <mat-card-content>

      <mat-form-field>
        <input formControlName="username" matInput placeholder="Email" type="email">
        <mat-error *ngFor="let error of loginForm.get('username').errors | keyvalue | slice:0:1">
          {{error.key === 'email' ? 'Email format not valid' : ''}}
          {{error.key === 'required' ? 'Email is required' : ''}}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="password" matInput placeholder="Password" type="password">
        <mat-error *ngFor="let error of loginForm.get('password').errors | keyvalue | slice:0:1">
          {{error.key === 'required' ? 'Password is required' : ''}}
        </mat-error>
      </mat-form-field>

      <div *ngIf="loading$ | async" class="spinner">
        <mat-spinner></mat-spinner>
      </div>

    </mat-card-content>

    <mat-card-actions>
      <button [disabled]="!loginForm.valid" mat-button type="submit">Login</button>
    </mat-card-actions>
  </form>
</mat-card>
