<mat-toolbar color="primary">
  <span>Glee-O-Meter</span>
  <ng-container *ngIf="loggedUser$ | async">

    <a *ngIf="!(authentication.hasRole('USER_MANAGER') | async)" mat-button routerLink="/glee">Glee</a>
    <a *ngIf="!(authentication.hasRole('USER') | async)" mat-buttonrouterLink="/admin/users">Users</a>

    <span class="filler"></span>

    <a mat-button routerLink="/profile">{{(loggedUser$ | async)?.email}} {{(loggedUser$ | async)?.role}}</a>

    <button (click)="logout()" mat-button>Logout</button>

  </ng-container>

  <ng-container *ngIf="!(loggedUser$ | async)">
    <span class="filler"></span>

    <button mat-button routerLink="/signin">Sign in</button>
    <button mat-button routerLink="/login">Login</button>

  </ng-container>

</mat-toolbar>
