<h1 mat-dialog-title>Glee</h1>

<form (ngSubmit)="submit()" [formGroup]="gleeForm">

  <mat-dialog-content class="glee-detail-content">

    <mat-form-field *ngIf="adminUser">
      <select formControlName="userId" matNativeControl placeholder="User">
        <option value=""></option>
        <option *ngFor="let user of users$ | async" [value]="user.id">{{user.email}}</option>
      </select>
      <mat-error *ngFor="let error of gleeForm.get('userId').errors | keyvalue">
        {{error.key === 'required' ? 'User is required' : ''}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input [owlDateTimeTrigger]="gleeDate" [owlDateTime]="gleeDate" formControlName="date" matInput
             placeholder="Date">
      <owl-date-time #gleeDate pickerType="calendar"></owl-date-time>
      <mat-error *ngFor="let error of gleeForm.get('date').errors | keyvalue | slice :0:1">
        {{error.key === 'required' ? 'Date is required' : ''}}
        {{error.key === 'owlDateTimeParse' ? 'Format not correct' : ''}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input [owlDateTimeTrigger]="gleeTime" [owlDateTime]="gleeTime" formControlName="time" matInput
             placeholder="Time">
      <owl-date-time #gleeTime pickerType="timer"></owl-date-time>
      <mat-error *ngFor="let error of gleeForm.get('time').errors | keyvalue | slice :0:1">
        {{error.key === 'required' ? 'Time is required' : ''}}
        {{error.key === 'owlDateTimeParse' ? 'Format not correct' : ''}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea formControlName="text" matInput placeholder="Text"></textarea>
      <mat-error *ngFor="let error of gleeForm.get('text').errors | keyvalue | slice :0:1">
        {{error.key === 'required' ? 'Time is required' : ''}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="value" matInput placeholder="Value" type="number">
      <mat-error *ngFor="let error of gleeForm.get('value').errors | keyvalue | slice :0:1">
        {{error.key === 'required' ? 'Value is required' : ''}}
      </mat-error>
    </mat-form-field>

    <div *ngIf="dataSource.loading$ | async" class="spinner">
      <mat-spinner></mat-spinner>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions class="glee-detail-actions">
    <button (click)="close()" mat-button>Cancel</button>
    <button [disabled]="!gleeForm.valid" mat-button type="submit">Save</button>
  </mat-dialog-actions>

</form>
