<mat-card>
  <mat-card-title>
    Sign In
  </mat-card-title>
  <form (ngSubmit)="signin()" [formGroup]="signinForm">
    <mat-card-content>

      <mat-form-field>
        <input formControlName="email" matInput placeholder="Email" type="email">
        <mat-error *ngFor="let error of signinForm.get('email').errors | keyvalue | slice:0:1">
          {{error.key === 'email' ? 'Email format not valid' : ''}}
          {{error.key === 'required' ? 'Email is required' : ''}}
          {{error.key === 'emailTaken' ? 'Email is already taken' : ''}}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="password" matInput placeholder="Password" type="password">
        <mat-error *ngFor="let error of signinForm.get('password').errors | keyvalue | slice:0:1">
          {{error.key === 'required' ? 'Password is required' : ''}}
        </mat-error>
      </mat-form-field>

      <div *ngIf="loading$ | async" class="spinner">
        <mat-spinner></mat-spinner>
      </div>

    </mat-card-content>

    <mat-card-actions>
      <button [disabled]="!signinForm.valid" mat-button type="submit">Save</button>
    </mat-card-actions>
  </form>
</mat-card>
