<div class="container">

  <mat-expansion-panel>


    <mat-expansion-panel-header>

      <mat-panel-title>
        Filter
      </mat-panel-title>

      <mat-panel-description>Filter by {{adminUser ? 'user,' : ''}} date and time range</mat-panel-description>

    </mat-expansion-panel-header>

    <form #filterForm="ngForm" class="filter-container">

      <mat-form-field>
        <input [(ngModel)]="filter.fromDate" [max]="filter.toDate" [owlDateTimeTrigger]="filterGleeFromDate"
               [owlDateTime]="filterGleeFromDate"
               matInput name="fromDate" placeholder="From date">
        <owl-date-time #filterGleeFromDate pickerType="calendar"></owl-date-time>
      </mat-form-field>
      <!-- <a [owlDateTimeTrigger]="filterGleeFromDate" ><mat-icon class="md-12">event</mat-icon></a> -->

      <mat-form-field>
        <input [(ngModel)]="filter.toDate" [min]="filter.fromDate" [owlDateTimeTrigger]="filterGleeToDate"
               [owlDateTime]="filterGleeToDate"
               matInput name="toDate" placeholder="To date">
        <owl-date-time #filterGleeToDate pickerType="calendar"></owl-date-time>
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="filter.fromTime" [max]="filter.toTime" [owlDateTimeTrigger]="filterGleeFromTime"
               [owlDateTime]="filterGleeFromTime"
               matInput name="fromTime" placeholder="From time">
        <owl-date-time #filterGleeFromTime pickerType="timer"></owl-date-time>
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="filter.toTime" [min]="filter.fromTime" [owlDateTimeTrigger]="filterGleeToTime"
               [owlDateTime]="filterGleeToTime"
               matInput name="toTime" placeholder="To time">
        <owl-date-time #filterGleeToTime pickerType="timer"></owl-date-time>
      </mat-form-field>

      <mat-form-field *ngIf="adminUser">
        <select [(ngModel)]="filter.userId" matNativeControl name="userId" placeholder="User">
          <option [selected]="!filter.userId" value=""></option>
          <option *ngFor="let user of users$ | async" [selected]="user.id === filter.userId"
                  [value]="user.id">{{user.email}}</option>
        </select>
      </mat-form-field>

      <div class="filter-actions">
        <button (click)="resetFilter()" mat-raised-button type="reset">Reset</button>
        <button (click)="applyFilter()" [disabled]="!filterForm.valid" color="primary" mat-raised-button type="submit">
          Apply
        </button>
      </div>

    </form>

  </mat-expansion-panel>

  <mat-card>

    <mat-card-title>Glee</mat-card-title>

    <mat-card-content>

      <mat-table [dataSource]="dataSource" matSort>

        <ng-container *ngIf="adminUser" matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> User</mat-header-cell>
          <mat-cell *matCellDef="let glee">
            {{glee.email}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Date</mat-header-cell>
          <mat-cell *matCellDef="let glee">
            {{glee.date | date: 'mediumDate'}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="time">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Time</mat-header-cell>
          <mat-cell *matCellDef="let glee">
            {{glee.time | date: 'shortTime'}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="text">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Text</mat-header-cell>
          <mat-cell *matCellDef="let glee">
            {{glee.text}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="value">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Value</mat-header-cell>
          <mat-cell *matCellDef="let glee" [class.glee-value-under]="valueUnder(glee.value)">
            {{glee.value | number: '1.0-2' }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>
            <button (click)="create()" mat-icon-button>
              <mat-icon aria-label="Add">create</mat-icon>
            </button>
          </mat-header-cell>
          <mat-cell *matCellDef="let glee;index as i">
            <button (click)="edit(i)" mat-icon-button>
              <mat-icon aria-label="Edit">edit</mat-icon>
            </button>
            <button (click)="delete(i)" mat-icon-button>
              <mat-icon aria-label="Delete">delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

      </mat-table>

      <div *ngIf="dataSource.loading$ | async" class="spinner">
        <mat-spinner></mat-spinner>
      </div>

    </mat-card-content>

    <mat-card-actions>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-actions>

  </mat-card>


</div>
