.container {
  padding: 6px;
  display: flex;
  flex-direction: column;
}

.mat-expansion-panel, .mat-card {
  margin: 6px;
}

.mat-header-cell {
  justify-content: center;
}

.mat-cell, .mat-header-cell {
  padding-right: 8px;
  word-wrap: break-word;
  word-break: break-all;

  &:first-of-type {
    padding-left: 12px;
  }

  &:last-of-type {
    padding-right: 12px;
  }
}

.material-icons.md-12 {
  font-size: 12px;
}

.mat-column-user {
  flex: 1.1 1 5em;
  word-wrap: break-word;
}

.mat-column-date {
  flex: 0.4 1 3.5em;
}

.mat-column-time {
  flex: 0.2 1 3em;
}

.mat-column-text {
  flex: 1.3 1 5em;
}

.mat-column-value {
  flex: 0.2 1 3em;
  justify-content: flex-end;
}

.mat-cell.mat-column-value {
  color: green;
}

.mat-cell.glee-value-under {
  color: red;
}

.mat-column-actions {
  flex: 0.7 0 40px;
  flex-wrap: wrap;
  max-width: 80px;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter-actions button {
  margin-right: 8px;
}
